
<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
<Body background="static/images/ex.jpg">
<center><img src= "static/images/test.jpg" alt ="user"></center>
	<meta charset="utf-8">
	<title>Login basico</title>
	
	<script type="text/javascript">
		
			var usuario = document.getElementById("usuario").value;
			var Contraseña = document.getElementById("pass").value;	

			if(usuario == "hector" && Contraseña == "1234")
			{
				location.href ="http://server-ap21.herokuapp.com";
			}
			else
			{
				alert("Verifique sus credenciales");
			}
		}


	</script>

</head>
<body>
	<center>
		<table>
			<tr>
				<td><label>Usuario: </label></td> <td><input type="text" name="usuario" id="usuario"></td>
			</tr>
			<tr>
				<td><label>Contraseña: </label></td> <td><input type="password" name="pass" id="pass"></td>
			</tr>
			<tr>
				<td colspan="2"><input type="button" name="btnVerifivaca" id="btnVerifica" onclick="validar()" value="verificar" style = "width: 100%"> </td>
				
			</tr>
		</table>
	</center>
		
</body>
</html>
